@charset "UTF-8";
.fullSlide { position:relative; width:100%;height:650px;min-width:1000px;background:#000; overflow: hidden; }
.fullSlide .bd,
.fullSlide .bd ul,
.fullSlide .bd li { height:100% !important;width:100% !important; }
.fullSlide .prev,
.fullSlide .next {position:absolute;z-index:1;display:block;width:40px;height:55px;top:50%;margin-top:-22px;left:150px;background:0 0 no-repeat;cursor:pointer;filter:alpha(opacity=60);opacity:0.6;}
.fullSlide .next {left:auto;right:150px;background-position:-40px 0;}
.fullSlide .prev:hover,.fullSlide .next:hover {filter:alpha(opacity=100);opacity:1;}

.col-a { padding: 65px 0 75px; }
.col-a .left { float: left; width: 234px; }
.col-a .about { float: right; width: 938px; height: 419px; padding: 33px; background:  no-repeat right bottom #027f45; }
.col-a .about .video { float: left; width: 562px; height: 353px; }
.col-a .about .info { float: right; width: 270px; padding-top: 20px; color: #fff; }
.col-a .about .info h3 { font-size: 30px; font-weight: normal; line-height: 68px; }
.col-a .about .info .txt { margin-bottom: 30px; line-height: 25px; }
.col-a .about .info .more { width: 130px; line-height: 50px; border-radius: 25px; border: 1px solid #fff; text-align: center; }
.col-a .about .info .more a { display: block; color: #fff; }
.col-a .about .info .more a i { margin-left: 8px; }

.bdxue-title .hd { position: relative; }
.bdxue-title .hd h2 { position: relative; font-size: 30px; font-weight: normal; line-height: 36px; }
.bdxue-title .hd h2 span { display: block; color: #ccc; font-size: 18px; line-height: 25px; text-transform: capitalize;  }
.bdxue-title .hd .more { position: absolute; top: 50%; right: 0; transform: translate(0 , -50%); }
.bdxue-title .hd .more a { display: block; padding: 0 20px; border-radius: 32px; background-color: #027f45; color: #fff; line-height: 32px; }

.col-b { padding:65px 0 65px; background:#f4f4f4; }
.col-b .hd { margin-bottom: 16px; }
.col-b .bd { position: relative; }
.col-b .bd ul li { position: relative; float: left; width: 280px; margin-right: 26px; transition:all 0.2s ease-in; }
.col-b .bd ul li .txt { padding: 18px 0; line-height: 24px; transition:all 0.2s ease-in; }
.col-b .bd ul li .txt .time { margin-bottom: 8px; color: #027f45; font-family: Arial; }
.col-b .bd ul li .txt h3 { font-size: 16px; line-height: 24px; }
.col-b .bd ul li .pic { width:280px; height:187px; overflow: hidden; }
.col-b .bd ul li .pic img { width:280px; height:187px; transform:scale(1); transition:all 0.3s ease-in; }
.col-b .bd ul li:hover .txt h3 a { color: #027f45; }
.col-b .bd ul li:hover .pic img { transform:scale(1.1); }
/* .col-b .bd .prev,
.col-b .bd .next { display: block; position: absolute; top: 50%; width: 59px; height: 59px; margin-top: -60px; z-index: 1; }
.col-b .bd .prev { left: -92px; background:url(s-prev.png); }
.col-b .bd .next { right: -92px; background:url(s-next.png); } */

.col-f { padding:65px 0 65px; background: center; }
.col-f .hd { margin-bottom: 16px; }
.col-f .hd h2 { color: #fff; }
.col-f .bd { position: relative; }
.col-f .bd ul li { position: relative; float: left; width: 395px; margin-right: 7px; background-color: #fff; transition:all 0.2s ease-in; }
.col-f .bd ul li a { display: block; }
.col-f .bd ul li .pic { width:395px; height:222px; overflow: hidden; }
.col-f .bd ul li .pic img { width:395px; height:222px; transform:scale(1); transition:all 0.3s ease-in; }
.col-f .bd ul li .txt { position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: flex; justify-content: center; align-items: center; }
.col-f .bd ul li .txt::after { position: absolute; left: 0; top:0; right: 0; bottom: 0; background-color: rgba(119, 196, 161, 0.8); content: ''; opacity: 0; transition:all 0.2s ease-in; }
.col-f .bd ul li .txt h3 { position: relative; padding: 0 60px; color: #fff; font-size: 16px; font-weight: normal; z-index: 1; opacity: 0; transition:all 0.2s ease-in; }
.col-f .bd ul li:hover .pic img { transform:scale(1.1); }
.col-f .bd ul li:hover .txt::after { left: 35px; top:25px; right: 35px; bottom: 25px; opacity: 1; }
.col-f .bd ul li:hover .txt h3 { opacity: 1; }
.col-f .bd .prev,
.col-f .bd .next { display: block; position: absolute; top: 50%; width: 59px; height: 59px; margin-top: -60px; z-index: 1; }
.col-f .bd .prev { left: -92px; }
.col-f .bd .next { right: -92px; }

.col-d { padding: 95px 0; }
.col-d .bd { position: relative; }
.news { float: left; width: 765px; }
.news .item { margin-bottom: 55px; padding-bottom: 55px; border-bottom: 1px solid #e5e5e5; overflow: hidden; }
.news .item:last-child { margin-bottom: 0; }
.news .item .mt { float: left; width: 155px; }
.news .item .mt h2 { position: relative; margin-bottom: 55px; font-size: 30px; font-weight: normal; line-height: 36px; }
.news .item .mt h2 span { display: block; color: #ccc; font-size: 18px; line-height: 25px; text-transform: capitalize;  }
.news .item .mt a { display: block; width: 74px; border-radius: 25px; border: 1px solid #027f45; color: #027f45; font-size: 14px; line-height: 28px; text-align: center; }
.news .item .mt:hover a { background: #027f45; color: #fff; }
.news .item .mc { display: block; overflow: hidden; }
.news .item .pic { float: right; width: 248px; height:165px; margin-left: 20px; overflow: hidden; }
.news .item .pic img { width:248px; height:165px; transform:scale(1); transition:all 0.3s ease-in; }
.news .item .txt { display: block; overflow: hidden; line-height: 25px; }
.news .item .txt h3 { font-size: 24px; line-height: 35px; }
.news .item .txt .time { margin: 8px 0; }
.news .item .txt .info { color: #666; text-align: justify; }
.news .item:hover .pic img { transform:scale(1.1); }
.news .item:hover .txt h3 a { color: #027f45; }

.xiaoyueyue { float: right; width: 400px; padding: 10px 32px 0; border: 1px solid #e5e5e5; }
.xiaoyueyue .mt h2 { height: 64px; line-height: 62px; font-size: 30px; font-weight: normal; }
.xiaoyueyue .mt h2 span { position: relative; float: right; top: 50%; transform: translate(0 , -50%); }
.xiaoyueyue .mt h2 span a { display: block; width: 74px; border-radius: 25px; border: 1px solid #027f45; color: #027f45; font-size: 14px; line-height: 28px; text-align: center; }
.xiaoyueyue .mt h2 span:hover a { background: #027f45; color: #fff; }
.xiaoyueyue .mc ul li { padding: 10px; border-bottom: 1px solid #e9e9ea; color: #666; font-size: 16px; line-height: 30px; }
.xiaoyueyue .mc ul li a { display: block; }
.xiaoyueyue .mc ul li span { float: right; }
.xiaoyueyue .mc ul li:last-child { border: 0; }
.hot-yueyue .pic { width:334px; height:222px; overflow: hidden; }
.hot-yueyue .pic img { width:334px; height:222px; transform:scale(1); transition:all 0.3s ease-in; }
.hot-yueyue .txt a { display: block; background: #027f45; color: #fff; font-size: 16px; line-height: 46px; text-align: center; }
.hot-yueyue:hover .pic img { transform:scale(1.1); }

.col-c { position: relative; padding:0; }
.col-c .items { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center; }
.col-c .items .item { width: 20%; height: 100%; padding: 66px 46px 0; border-right: 1px solid rgba(255, 255, 255, 0.32); color: #fff; text-align: center; transition:all 0.3s ease-in; overflow: hidden; }
.col-c .items .item h3 { position: relative; top: 0; color: #fff; font-size: 24px; font-weight: normal; line-height: 42px; }
.col-c .items .item h3 span { display: block; color: #ccc; font-size: 16px; line-height: 32px; text-transform: capitalize; }
.col-c .items .item .num { position: relative; color: #027f45; font-size: 60px; font-family: 'Times New Roman'; line-height: 66px; opacity: 0; transition:all 0.3s ease-in-out; }
.col-c .items .item .line { position: relative; height: 22%; margin: 2% 0; opacity: 0; transition:all 0.3s ease-in-out; }
.col-c .items .item .line::after { position: absolute; top: 0; left: 50%; width: 1px; height: 100%; background-color: #5c5d5e; transform: translate(-50%, 0); content: ''; }
.col-c .items .item .info { margin: 5% 0 10%; color: #999; line-height: 25px; opacity: 0; text-align: justify;  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; transition:all 0.3s ease-in-out; }
.col-c .items .item .pic { opacity: 0; transition:all 0.2s ease-in-out; }
.col-c .items .item .pic img { width: 100%; }
.col-c .items .item:last-child { border-right: 0; }
.col-c .items .item:hover { background-color: #272727; }
.col-c .items .item:hover h3 span { display: none; }
.col-c .items .item:hover .num,
.col-c .items .item:hover .line,
.col-c .items .item:hover .pic,
.col-c .items .item:hover .info { opacity: 1; }

@media only screen and (max-width:1600px) {
    .col-c .items .item .line { height: 16%; }
    .col-c .items .item .info { margin-bottom: 5%; }
}
@media only screen and (max-width:1200px) {
    .col-c .items .item .pic { display: none; }
}

.col-c .bg img { width: 100%; height: auto; }

/*
.col-d .bd ul li { position: relative; float: left; width: 372px; margin-bottom: 44px; margin-right: 42px; transition:all 0.2s ease-in; }
.col-d .bd ul li .txt { padding: 22px 20px; background-color:#191919; line-height: 24px; transition:all 0.2s ease-in; }
.col-d .bd ul li .txt h3 { color: #c8a76b; font-size: 18px; line-height: 45px; font-weight: normal; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
.col-d .bd ul li .txt h3 a { color: #c8a76b; }
.col-d .bd ul li .txt .info { min-height: 84px; }
.col-d .bd ul li .txt .info a { color: #a3a0a0; }
.col-d .bd ul li .txt .info a:hover { color: #fff; }
.col-d .bd ul li .pic { width:372px; height:250px; overflow: hidden; }
.col-d .bd ul li .pic img { width:372px; height:250px; transform:scale(1); transition:all 0.3s ease-in; }
.col-d .bd ul li:hover { box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);}
.col-d .bd ul li:hover .txt { background-color:#c8a76b; color: #775b28; }
.col-d .bd ul li:hover .txt h3 a,
.col-d .bd ul li:hover .txt .info a { color: #775b28; }
.col-d .bd ul li:hover .pic img { transform:scale(1.1); }
*/

.col-e { padding:85px 0 85px; }
.col-e .g-in { position: relative; height: 540px; }
.col-e .hd { position: absolute; top: 25px; left: 0; }
.col-e .bd { position: relative; height: 540px; padding-top: 100px; }
.col-e .bd .pic { position: absolute; right: 50%; top: 0; width: 960px; height:540px; margin-right: -960px; overflow: hidden; }
.col-e .bd .pic img { width:960px; height:540px; transform:scale(1); transition:all 0.3s ease-in; }
.col-e .bd .txt { position: relative; display: block; overflow: hidden; width: 560px; line-height: 25px; z-index: 1; }
.col-e .bd .txt h3 { font-size: 36px; font-weight: normal; line-height: 70px; }
.col-e .bd .txt .info { min-height: 110px; color: #666; text-align: justify; }
.col-e .bd .txt .more { width: 130px; }
.col-e .bd .txt .more a { display: block; border-radius: 32px; background-color: #027f45; color: #fff; line-height: 32px; text-align: center; }
.col-e .bd .txt .more a i { margin-left: 8px; }
.col-e .mt { position: absolute; bottom: 0; left: 0; width: 1201px; height: 158px; border: 1px solid #f1f1f1; border-right: 0;  background-color: #fff; z-index: 2; }
.col-e .mt li { position: relative; float: left; width: 300px; height: 158px; padding-top: 28px; border-right: 1px solid #f1f1f1; font-size: 16px; line-height: 36px; text-align: center; cursor: pointer; }
.col-e .mt li::after { position: absolute; top: -1px; left: 0; width: 0; height: 4px; background-color: transparent; content: ''; transition:all 0.2s ease-in; }
.col-e .mt li i { display: block; width: 85px; height: 75px; margin: 0 auto; }
.col-e .mt li:nth-child(1) i { background: no-repeat 50%; }
.col-e .mt li:nth-child(2) i { background: no-repeat 50%; }
.col-e .mt li:nth-child(3) i { background: no-repeat 50%; }
.col-e .mt li:nth-child(4) i { background:  no-repeat 50%; }
.col-e .mt li.on::after { width: 100%; background-color: #027f45; }
.col-e .mt li.on { font-weight: bold; color: #027f45; }
.col-e .mt li.on:nth-child(1) i { background: no-repeat 50%; }
.col-e .mt li.on:nth-child(2) i { background:no-repeat 50%; }
.col-e .mt li.on:nth-child(3) i { background:  no-repeat 50%; }
.col-e .mt li.on:nth-child(4) i { background: no-repeat 50%; }
