<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fellowchicken.mapper.CityMapper">
    <insert id="add" parameterType="com.fellowchicken.model.City" useGeneratedKeys="true" keyProperty="cityID">
        insert into city(CityName, WarzoneID, Lon, Lat)
        values (#{city.cityName}, #{city.warzoneID}, #{city.Lon}, #{city.Lat})
    </insert>
</mapper>
