<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fellowchicken.mapper.MinimarketMapper">
    <insert id="add" parameterType="com.fellowchicken.model.Minimarket" useGeneratedKeys="true"
            keyProperty="minimarketID">
        insert into minimarket(MinimarketName, CityID, Lon, Lat)
        values (#{minimarket.minimarketName}, #{minimarket.cityID}, #{minimarket.Lon}, #{minimarket.Lat})
    </insert>
</mapper>
