<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fellowchicken.mapper.WarzoneMapper">
    <insert id="add" parameterType="com.fellowchicken.model.Warzone" useGeneratedKeys="true" keyProperty="warzoneID">
        insert into warzone(WarzoneName, Lon, Lat)
        values (#{warzone.warzoneName}, #{warzone.lon}, #{warzone.lat})
    </insert>
</mapper>
